<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
	<listener class-name="utils.Listener"></listener>
	</listeners>
	<parameter name="Url" value="https://www.spicejet.com/"></parameter>
	<parameter name="browser" value="chrome"></parameter>
  <test thread-count="5" name="Test">
    <classes>
	  <class name="test.OneWayTC_001"/>
	 
      <class name="test.RoundWayTC_001"/>
      
      <class name="test.SignUpTC_001"/>
      <class name="test.SignUpTC_002"/>
      <class name="test.LogInTC_001"/>
      <class name="test.LogInTC_002"/>
     
      
       <class name="test.VerifyTitle"/>
       
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
